.container {
    background-color: rgba($color: white, $alpha: .8);
    opacity: .8;
    min-height: 60rem;
    width: 100rem;
    margin: 9.5rem auto;
    padding: 3rem 5rem;
}

.search {
    display: grid;
    grid-template-columns: 1fr min-content;
    width: 90%;
    margin: 0 auto;
    transition: width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &__input {
        border: none;
        padding: 1.2rem 2rem;
        color: var(--color-grey-dark-1);
        font-size: 1.6rem;
        width: 100%;
        grid-column: 1;
        transition: width 200ms;
        justify-self: center;
        
        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: 100;
        }
    }

    &__button {
        border: none;
        outline: none;
        background-color: #fff;
        padding: .3rem .5rem;
        justify-self: center;
    }

    &__icon {
        width: 2.2rem;
        height: 2.2rem;
        fill: var(--color-grey-dark-3)
    }

    &__results {
        display: flex;

        background-color: var(--color-grey-light-2);
        grid-column: span 2;
        max-height: 25rem;
        padding: .8rem 1rem;
        opacity: 0;
        visibility: hidden;
        box-shadow: var(--shadow-light);

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__input:not(:focus) ~ &__results {
        opacity: 0;
        visibility: hidden;
    }

    &__list {
        flex: 1;
        overflow: auto;
    }

    &__item {
        font-size: 1.5rem;
        color: var(--color-grey-dark-1);
        padding: .7rem .5rem;
        transition: background-color 50ms;
        cursor: default;

        &:not(:last-child) {
            border-bottom: var(--line);
        }

        &:hover {
            background-color: var(--color-grey-light-4);
        }
    }
}

.search:focus-within {
    width: 100%;
}