.content {
   z-index: 1;
}

.character-info {
    display: grid;
    grid-template-columns: min-content 1fr;

    &__name {
        text-align: center;
    }

    &__story {
        padding: 0 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        grid-template-rows: repeat(2 , min-content);
        gap: 1rem;
    }
}