.content {
  &__home {
    font-size: 1.2rem;
  }
}

.character-info {
  display: grid;
  grid-template-columns: min-content 1fr;

  &__name {
    text-align: center;
  }

  &__image {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  }

  &__story {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(2, min-content);
    gap: 1rem;
  }

  &__card {
    padding: 0.8rem 0.5rem;
    background-color: #ddd;
    box-shadow: var(--shadow-light);
  }
}
