:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: url(img/enhanced.watermark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 4rem;
  background-color: #fff;
  opacity: 0.94;
  min-height: 60rem;
  width: 100rem;
  margin: 7rem auto;
  padding: 3rem 5rem;
  box-shadow: var(--shadow-dark); }

.search {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 100%;
  margin: 0 auto;
  transition: width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .search__input {
    position: relative;
    border: none;
    padding: 1.2rem 2rem;
    color: var(--color-grey-dark-1);
    font-size: 1.6rem;
    width: 100%;
    grid-column: 1;
    transition: width 200ms;
    justify-self: center;
    background-color: var(--color-grey-light-3);
    border-radius: 10px 0 0 10px;
    transition: border-radius 200ms; }
    .search__input:focus {
      outline: none;
      border-bottom-left-radius: 0; }
    .search__input::placeholder {
      font-weight: 100; }
  .search__button {
    border: none;
    outline: none;
    background-color: var(--color-grey-light-3);
    padding: 0.3rem 0.5rem;
    justify-self: center;
    border-radius: 0 10px 10px 0;
    transition: border-radius 200ms; }
  .search__input:focus ~ .search__button {
    border-bottom-right-radius: 0; }
  .search__icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-grey-dark-3); }
  .search__result {
    position: absolute;
    grid-row: 2;
    width: 100%;
    display: flex;
    z-index: 100;
    opacity: 0.96;
    background-color: var(--color-grey-light-3);
    grid-column: span 2;
    max-height: 29.5rem;
    padding: 1rem 0;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.13);
    border-radius: 0 0 10px 10px;
    transition: opacity 200ms; }
  .search__input:not(:focus) ~ .search__result {
    opacity: 0; }
  .search__list {
    flex: 1;
    overflow-y: auto; }
  .search__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--color-grey-dark-1);
    padding: 0.5rem 0.7rem;
    transition: background-color 50ms;
    cursor: default; }
    .search__item:not(:last-child) {
      border-bottom: var(--line); }
    .search__item:hover {
      background-color: var(--color-grey-light-4); }

.search:focus-within + .search__results {
  background-color: red; }

.highlight {
  background-color: fuchsia; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 400;
  grid-column: 1/ -1; }

.heading-1 {
  font-size: 4.5rem;
  color: var(color-grey-light-1);
  line-height: 1;
  text-transform: uppercase; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: var(color-grey-light-1); }
  .heading-2--dark {
    color: var(color-grey-dark-1); }

.heading-3 {
  font-size: 1.6rem;
  color: var(color-primary);
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem;
  white-space: nowrap; }
  .heading-4--light {
    color: var(color-grey-light-1); }
  .heading-4--dark {
    color: var(color-grey-dark-1); }

.btn {
  background-color: var(color-primary);
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 200ms; }
  .btn:hover {
    background-color: var(color-primary-dark); }

.content__home {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .content__home p {
    font-size: 1.5rem; }
  .content__home button {
    align-self: center; }

.character-info {
  display: grid;
  grid-template-columns: min-content 1fr; }
  .character-info__name {
    text-align: center; }
  .character-info__description {
    font-size: 1.5rem; }
  .character-info__image {
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3); }
  .character-info__story {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .character-info__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(2, min-content);
    gap: 1rem; }
  .character-info__card {
    padding: 0.8rem 0.5rem;
    background-color: #ddd;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.16);
    text-align: center; }
    .character-info__card span {
      font-size: 1.3rem; }

.character-heading {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }
  .character-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
